<%= form_for @trip, :html => { :multipart => true } do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col m4">
      <div class="input-field">
          Upload Photos
				  <%= file_field_tag @trip.image %>
      </div>
    </div>
  </div>
  <div class="input-field">
    <%= f.text_field :name, placeholder: "Name of Trip" %>
  </div>

  <div class="input-field">
    <%= f.text_area :description, placeholder: "Description of Trip"  %>
  </div>

  <div class="input-field">
    <%= f.text_field :location, placeholder: "Location of Trip" %>
  </div>

  <div class="input-field">
    <%= f.text_field :duration, placeholder: "Duration of Trip" %>
  </div>

  <div class="input-field">
    <%= f.text_field :price_per_participant, placeholder: "Price_per_Participant for the Trip" %>
  </div>

  <div class="input-field">
    <%= f.text_field :languages %>
  </div>

  <div class="input-field">
    <%= f.text_field :group_size %>
  </div>

  <div class="input-field">
    <%= f.text_field :transportation %>
  </div>

  <div class="input-field">
    <%= f.text_area :includes %>
  </div>

  <div class="input-field">
    <%= f.text_area :exclude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
